.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 1052px;
  margin: 92px 24px 96px 24px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  align-items: center;
  list-style: circle;
  padding: 44px 36px 39px 26.52px;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  white-space: nowrap;
  text-underline-offset: 4px;
  line-height: 1.35;
}

.header__link_active {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
}

.address {
  all: initial;
  display: grid;
  align-content: center;
  justify-content: end;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__adress {
  padding-left: 124px;
}

.content {
margin: auto;
}

.cover {
  display: grid;
  position: relative;
  width: 1100px;
  min-height: 757px;
  z-index: 0;
  background: url("../images/cover.jpg") no-repeat, center / cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  opacity: 0.6;
  inset: 0;
}

.cover__title {
  padding: 165px 50px 135px 50px;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
  letter-spacing: 30px;
  line-height: 110px;
}

.aligned-text {
  display: block;
  text-align: left;
  letter-spacing: 3px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 148px;
  letter-spacing: 3px;
}


.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 93px;
  letter-spacing: 30px;
}

.letter-spacing-extended-n {
  letter-spacing: 10px;
}

.no-letter-spacing {
letter-spacing: normal;
}

.cover__description {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 78px;
  margin-left: 79px;
  margin-bottom: 50px;
}

.cover__description-text {
  width: 637px;
  height: 28px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  font-family: "Raleway", sans-serif;
  width: 256px;
  height: 51px;
  border: 1px solid currentColor;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  width: 1052px;
  height: 692px;
  background-color: white;
  margin-top: 179px;
  margin-left: 25px;
  scroll-margin: 30px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 27px;
  gap: 25px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 334px;
  max-width: 334px;
  min-height: 563px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 49px;
  padding-bottom: 49px;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
  margin-left: 39px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 47% 24% auto;
  height: 595px;
  margin-top: 146px;
  margin-left: 25px;
}

.about__column {
  margin: 133px 24px 193px 359px;
}

.about__logo {
  display: flex;
  border-radius: 100%;
  background: #000;
  width: 240px;
  height: 240px;
  margin: 35px 72px 320px 47px;
  padding-top: 3px;
  grid-row: span 3;
}

.about__logo-image {
  width: 149px;
  height: 113px;
  stroke-width: 6px;
  stroke: #fff;
  margin: auto;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-top: 136px;
  margin-left: 25px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
  margin-left: 25px;
  margin-top: 3px;
}


.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: start;
  width: 1000px;
  height: 98px;
  margin-top: 178px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 88px;
}


.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  margin-left: 186px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  list-style: none;
}
